# แบบฝึกหัด 2

---

จากข้อมูล titanic.csv ให้ทำการวิเคราะห์ข้อมูลเบื้องต้นเกี่ยวกับคอลัมน์ cabin  
โดยแผนภาพด้านล่างนี้เป็นตำแหน่งของ cabin ตามตัวอักษรตัวแรกของรหัส cabin ที่บันทึกในชุดข้อมูล

![titanic-cabin](https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Olympic_%26_Titanic_cutaway_diagram.png/800px-Olympic_%26_Titanic_cutaway_diagram.png)

ให้นิสิตสร้างคอลัมน์เพิ่ม โดยคอลัมน์ที่เพิ่มมานี้ จะเก็บข้อมูลของตัวอักษรตัวแรกที่ปรากฏในคอลัมน์ Cabin เช่น  
- หากในคอลัมน์ Cabin เป็นค่า "C123" ในคอลัมน์ที่สร้างจะบันทึก "C"  
- หากในคอลัมน์ Cabin เป็นค่า "C23 C25 C27" ในคอลัมน์ที่สร้างจะบันทึก "C"
- หากในคอลัมน์ Cabin เป็นค่า "B58 B60 C2" ในคอลัมน์ที่สร้างจะบันทึก "B"
- หากในคอลัมน์ Cabin เป็นค่า "F2" ในคอลัมน์ที่สร้างจะบันทึก "F"
- หากในคอลัมน์ Cabin เป็นค่า NaN ในคอลัมน์ที่สร้างจะบันทึก NaN

จากนั้นให้นิสิตเขียนโค้ดเพื่อตอบคำถามในแต่ละข้อ

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/ThammakornS/ProgStat/main/dataset/titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

นิสิตแสดงวิธีสร้างคอลัมน์

In [ ]:
#your code
df['cabin_letter'] = df.Cabin.str.get(0)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,cabin_letter
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,NaN
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,C
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,NaN
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,B
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,NaN
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,NaN

1. ในแต่ละตัวอักษร Cabin มีจำนวนผู้โดยสารกี่คน และมีจำนวน NaN เท่าไหร่

In [ ]:
#your code
cabin_counts = df['cabin_letter'].value_counts(dropna=False)
print(cabin_counts)

cabin_letter
NaN    687
C       59
B       47
D       33
E       32
A       15
F       13
G        4
T        1
Name: count, dtype: int64

2. ในแต่ละตัวอักษร Cabin มีจำนวนผู้โดยสารที่รอดและเสียชีวิตอย่างละเท่าไหร่ cabin ใดมีจำนวนผู้เสียชีวิตมากที่สุด

In [ ]:
#your code
cabin_survival = df.groupby(['cabin_letter', 'Survived']).size().unstack(fill_value=0)
cabin_with_most_deaths = cabin_survival[0].idxmax()
print(cabin_survival)
print("Cabin ที่มีผู้เสียชีวิตมากที่สุดคือ:", cabin_with_most_deaths)

Survived       0   1
cabin_letter
A              8   7
B             12  35
C             24  35
D              8  25
E              8  24
F              5   8
G              2   2
T              1   0
Cabin ที่มีผู้เสียชีวิตมากที่สุดคือ: C

3. cabin ใดมีค่า สัดส่วน จำนวนผู้รอดชีวิตหารด้วยจำนวนผู้เสียชีวิต สูงสุด

In [ ]:
#your code
cabin_survival_ratio = (cabin_survival[1] / cabin_survival[0].replace(0, np.nan)).idxmax()
print(cabin_survival_ratio)

D

4. cabin ใดมีค่าเฉลี่ยราคาตั๋ว (Fare) สูงสุด

In [ ]:
#your code
cabin_fare_mean = df.groupby('cabin_letter')['Fare'].mean().idxmax()
print("Cabin ที่มีค่าเฉลี่ยราคาตั๋วสูงสุดคือ:", cabin_fare_mean)

Cabin ที่มีค่าเฉลี่ยราคาตั๋วสูงสุดคือ: B

5. จงแสดงค่าเฉลี่ยราคาตั๋ว (Fare) ของผู้รอดชีวิต และผู้เสียชีวิต ในแต่ละ cabin หากเปรียบเทียบราคาเฉลี่ยของผู้ที่รอดและเสียชีวิตจะพบว่า

In [ ]:
#your code
cabin_fare_by_survival = df.groupby(['cabin_letter', 'Survived'])['Fare'].mean().unstack(fill_value=0)
print(cabin_fare_by_survival)

Survived              0           1
cabin_letter
A             35.496350   44.341071
B             57.137500  132.832026
C             99.972396  100.274046
D             53.770825   58.356176
E             43.715625   46.797050
F             11.340000   23.294787
G             10.462500   16.700000
T             35.500000    0.000000

6. ในแต่ละอักษร cabin มีจำนวนผู้โดยสารแยกตาม Pclass อย่างละกี่คน

In [ ]:
#your code
cabin_pclass_counts = df.groupby(['cabin_letter', 'Pclass']).size().unstack(fill_value=0)
print(cabin_pclass_counts)

Pclass         1  2  3
cabin_letter
A             15  0  0
B             47  0  0
C             59  0  0
D             29  4  0
E             25  4  3
F              0  8  5
G              0  0  4
T              1  0  0